<header>
    <h1>{{ title }}</h1>
    <div class = "navbar">
        <p>
            <a href="/">Home</a> | <a href="/notes/add">Add Note</a> | <a href="/notes/viewList">View All</a>

        </p>
        <img src="/images/SallieShoppe.png" id="logo" alt="logo" />

    </div>
</header>