<header>


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark border">
        <a class="navbar-brand" href="/"><i data-feather="home"></i></a>
        <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <span class="navbar-text col text-left">{{title}}</span>
            <a class="nav-item nav-link btn btn-outline-light col-auto mr-lg-2" href="/sales/add">Create Listing</a>
            <a class="nav-item nav-link btn btn-outline-light col-auto mr-lg-2" href="/sales/viewList">View All</a>
            <a class="nav-item nav-link btn btn-outline-light col-auto mr-lg-2" href="/users/register">Register</a>
            <a class="nav-item nav-link btn btn-outline-light col-auto mr-lg-2" href="/users/login">Login</a>

        </div>
    </nav>

</header>