<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    {{#each styles}}

    {{/each}}
    <link rel='stylesheet' href="/stylesheets/style.css" />
    <link rel='stylesheet' href="/stylesheets/style2.css" />
</head>
<body>
{{> header }}
{{{body}}}
</body>
</html>
