<form method="post">
<p> Do you want to delete the note title: {{noteTitle}} - key: {{noteKey}}?</p>
<p>
    <span><a href="/notes/destroy?key={{ noteKey }}">Delete Note</a></span>

    <span><a href="/">Cancel</a></span>
</p>
</form>