<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-5 text-center alert alert-danger" role="alert">
            <h2>Welcome to Sallie Shoppe!</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-5 text-center " >
            <h4>Sell or buy new and used products</h4><br>
        </div>
    </div>

    <div class="orderPlaced">
        <p id = "orderPlaced"></p>
    </div>
    <span id="activity">

        </span>

</div>
<div class="container-fluid">
    {{>user_messages}}
</div>

<script>


  function getActivity(){
        axios.get('https://www.boredapi.com/api/activity/').then(response => {
            console.log("Activity: "+response.data.activity);
            const span = document.createElement("SPAN");
            const text = document.createTextNode("Your activity: " + response.data.activity);
            span.appendChild(text);
            document.getElementById('activity').appendChild(span);

        }).catch(err =>{
            console.error('Error: ', err);
            document.getElementById("orderPlaced").innerText = 'Can not find activity';
        })


    }
</script>
